<div class="container pt-3 text-center">

    <h1>Welcome</h1>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-6">
            <h3>To be devoured</h3>

            {{#each burger}}
            {{#unless devoured}}
            <div class="burgerBlock">
                <button type=" button" class="btn btn-outline-success">
                    {{this.id}} {{burger_name}}
                </button>
            </div>
            <p>
                {{/unless}}
                {{/each}}

        </div>
        <div class="col-6">
            <h3>Devoured</h3>

            {{#each burger}}
            {{#if devoured}}
            <div class="burgerBlock">
                <button type="button" class="btn btn-outline-danger">
                    {{this.id}} {{burger_name}}
                </button>
            </div>
            <p>
                {{/if}}
                {{/each}}

        </div>
    </div>

    <div class="row">
    </div>